$light-color: #fff;
$dark-color: #000;
$light-gray: #dedede;
$lighter-gray: #d0d0d0;
$lightest-gray: #eaeaea;
$dark-gray: #5f5f5f;
$dark-black: #333;
$primary-light: #fe673a;
$dark-red: #d60015;
$hyper-link-color: #0285c4;
$hyper-link-hover-color: #15578f;
$command: #c0341d;
$codes: #505050;
$nav-border-color: #E3864E;

/* Gradient */

$grad-init: #ff890a;
$grad-middle: #ff420a;
$grad-final: #bc0289;
