$icons-item-hover-color: $primary-light;
$icons-item-font-size: 48px;
$icons-item-border-radius: 5px;
$icons-item-margin-bottom: 5px;
$icons-item-selected-color: rgb(255, 255, 255);
$icons-item-selected-border-radius: 10px;
$icons-item-box-shadow: 2.5px 3px 5px rgba(0, 0, 0, .3);
